Repository ntut-xuan/FastShop, pull requests merged in 2022-10, with the labels that each got.

#29 Create LICENSE
  LICENSE
Labels: documentation

#31 Import TestResponse from Werkzeug instead of Flask
  backend/tests/test_factory.py
Labels: bug

#37 Measure branch coverage
  backend/.coveragerc
Labels: backend, test

#38 完成註冊功能
  backend/auth/route.py
  backend/auth/util.py
  backend/schema.sql
  backend/tests/data.sql
  backend/tests/test_auth.py
Labels: enhancement, backend

#40 Refactor login & register backend
  .env
  backend/app.py
  backend/auth/exception.py
  backend/auth/route.py
  backend/auth/util.py
  backend/database/__init__.py
  backend/database/util.py
  backend/route/__init__.py
  backend/route/util.py
  backend/schema.sql
  backend/tests/conftest.py
  backend/tests/data.sql
  backend/tests/test_auth.py
  backend/tests/test_database.py
  backend/tests/test_factory.py
  backend/tests/test_static.py
  backend/tests/test_util.py
  backend/util.py
Labels: backend, refactor

#43 完成固定 patch target 與 project target 的設置
  codecov.yml
Labels: backend, test
