Repository ntut-xuan/FastShop, pull requests merged in 2022-12, with the labels that each got.

#73 新增 apidocs 頁面，完成 API 整理文件
  backend/api/README.md
  backend/api/login_get.yml
  backend/api/login_post.yml
  backend/api/logout_post.yml
  backend/api/register_get.yml
  backend/api/register_post.yml
  backend/api/verify_jwt_post.yml
  backend/app.py
  backend/auth/route.py
  backend/config.py
  requirements.txt
Labels: documentation, backend

#76 Fix project readme on typo and grammar
  README.md
Labels: documentation

#79 修復 virtualenv 版本過舊導致 pre-commit 無法使用的問題
  requirements.txt
Labels: bug

#77 修復錯誤的 docker compose version
  docker-compose.yml
Labels: bug

#80 完成 Docker CI 的建置
  .github/workflows/docker-ci.yml
  docker-compose.yml
Labels: test

#89 完成 items 的 API 描述
  backend/api/items_get.yml
  backend/api/items_post.yml
  backend/api/items_specific_item_count_get.yml
  backend/api/items_specific_item_delete.yml
  backend/api/items_specific_item_get.yml
  backend/api/items_specific_item_put.yml
  backend/app.py
  backend/config.py
  backend/item/__init__.py
  backend/item/route.py
Labels: documentation, backend

#90 完成 tags 的 API 描述
  backend/api/tags_get.yml
  backend/api/tags_id_delete.yml
  backend/api/tags_id_get.yml
  backend/api/tags_id_items_get.yml
  backend/api/tags_id_put.yml
  backend/api/tags_post.yml
  backend/app.py
  backend/tag/__init__.py
  backend/tag/route.py
Labels: documentation, backend

#94 完成靜態圖片介面的 API documentation
  backend/api/static/static_images_id_delete.yml
  backend/api/static/static_images_id_get.yml
  backend/api/static/static_images_id_put.yml
  backend/api/static/static_images_post.yml
  backend/app.py
  backend/static/__init__.py
  backend/static/route.py
Labels: documentation, backend

#96 在 dockerfile 上加上新增資料夾，供給靜態檔案存放資料
  Dockerfile
Labels: enhancement, backend

#97 完成圖片靜態資源上傳的函式
  backend/config.py
  backend/static/exception.py
  backend/static/util.py
  backend/tests/integration_tests/conftest.py
  backend/tests/unit_tests/test_static_util.py
Labels: enhancement, backend

#92 調整 API 的資料夾架構
  backend/api/auth/login/get.yml
  backend/api/auth/login/post.yml
  backend/api/auth/logout/post.yml
  backend/api/auth/register/get.yml
  backend/api/auth/register/post.yml
  backend/api/auth/verify_jwt/post.yml
  backend/api/item/items/get.yml
  backend/api/item/items/id/count/get.yml
  backend/api/item/items/id/delete.yml
  backend/api/item/items/id/get.yml
  backend/api/item/items/id/put.yml
  backend/api/item/items/post.yml
  backend/api/tag/tags/get.yml
  backend/api/tag/tags/id/delete.yml
  backend/api/tag/tags/id/get.yml
  backend/api/tag/tags/id/items/get.yml
  backend/api/tag/tags/id/put.yml
  backend/api/tag/tags/post.yml
  backend/auth/route.py
  backend/item/route.py
  backend/tag/route.py
  backend/tests/unit_tests/test_util.py
  backend/util.py
Labels: documentation, backend, refactor

#98 Create models of item and tag
  backend/database/__init__.py
  backend/models/__init__.py
  backend/tests/integration_tests/test_model.py
  backend/tests/unit_tests/test_model.py
Labels: enhancement, backend

#101 將 API 文件中 item 的 avatar 改為單值並以 UUID 取代 URL
  backend/api/item/items/get.yml
  backend/api/item/items/post.yml
  backend/api/tag/tags/id/items/get.yml
Labels: documentation, backend

#100 完成用於測試登入狀態的 decorator
  backend/auth/util.py
  backend/tests/unit_tests/test_auth_util.py
Labels: backend

#102 將 static route 以 UUID 取代 ID
  backend/api/static/static_images_id_delete.yml
  backend/api/static/static_images_id_get.yml
  backend/api/static/static_images_id_put.yml
  backend/api/static/static_images_post.yml
  backend/static/route.py
Labels: documentation, backend

#105 新增 badge
  README.md
  backend/README.md
Labels: documentation

#104 完成 static route 的細部設計
  backend/response_message.py
  backend/static/route.py
  backend/tests/unit_tests/test_static.py
Labels: enhancement, backend

#106 Move `make_single_message_response` into util.py
  backend/auth/route.py
  backend/static/route.py
  backend/util.py
Labels: backend, refactor

#107 讓單元測試和實作有相同的目錄結構
  backend/tests/integration_tests/test_auth.py
  backend/tests/integration_tests/test_model.py
  backend/tests/unit_tests/auth/__init__.py
  backend/tests/unit_tests/auth/test_auth.py
  backend/tests/unit_tests/auth/test_util.py
  backend/tests/unit_tests/database/__init__.py
  backend/tests/unit_tests/database/test_database.py
  backend/tests/unit_tests/models/__init__.py
  backend/tests/unit_tests/models/test_model.py
  backend/tests/unit_tests/static/__init__.py
  backend/tests/unit_tests/static/test_static.py
  backend/tests/unit_tests/static/test_util.py
Labels: backend, refactor

#109 使用 isort 來調整 import 的順序
  backend/auth/util.py
  backend/database/__init__.py
  backend/static/route.py
  backend/tests/unit_tests/auth/test_util.py
  backend/tests/unit_tests/models/test_model.py
  backend/tests/unit_tests/static/test_static.py
  backend/util.py
Labels: backend

#110 Correct status code of unauthorized to 401
  backend/api/item/items/id/delete.yml
  backend/api/item/items/id/put.yml
  backend/api/item/items/post.yml
  backend/api/static/static/images/post.yml
  backend/api/static/static/images/uuid/delete.yml
  backend/api/static/static/images/uuid/put.yml
  backend/api/tag/tags/id/delete.yml
  backend/api/tag/tags/id/put.yml
  backend/api/tag/tags/post.yml
Labels: documentation

#115 修改 Items/Tags 的 API 文件
  backend/api/item/items/get.yml
  backend/api/item/items/post.yml
  backend/api/tag/tags/id/items/get.yml
Labels: documentation

#111 Ignore type error on specific error code
  backend/models/__init__.py
  backend/static/util.py
  backend/tests/unit_tests/auth/test_auth.py
  backend/tests/unit_tests/static/test_static.py
  backend/tests/unit_tests/test_util.py
Labels: backend, refactor

#114 Add naming convention doc of unit test methods
  backend/tests/README.md
Labels: documentation, backend, test

#112 完成 tags 的介面細部設計
  backend/tag/route.py
  backend/tests/integration_tests/conftest.py
  backend/tests/integration_tests/test_tag.py
  backend/tests/unit_tests/tag/__init__.py
  backend/tests/unit_tests/tag/test_tag.py
Labels: enhancement, backend

#116 完成 items 的介面細部設計
  backend/item/route.py
  backend/item/util.py
  backend/tests/integration_tests/test_item.py
  backend/tests/unit_tests/item/__init__.py
  backend/tests/unit_tests/item/test_item.py
  requirements.txt
Labels: enhancement, backend

#118 新增 items 頁面介面
  backend/item/route.py
  backend/tests/unit_tests/item/test_item.py
  html/item_detail.html
  html/item_list.html
Labels: enhancement, backend

#123 在 Items API 中新增 description 欄位，並調整與最佳化 API 文件
  backend/api/auth/login/get.yml
  backend/api/auth/login/post.yml
  backend/api/auth/logout/post.yml
  backend/api/auth/register/get.yml
  backend/api/auth/register/post.yml
  backend/api/auth/verify_jwt/post.yml
  backend/api/item/items/get.yml
  backend/api/item/items/post.yml
  backend/api/item/items_list/get.yml
  backend/api/item/items_list/id/get.yml
  backend/api/tag/tags/get.yml
  backend/api/tag/tags/id/delete.yml
  backend/api/tag/tags/id/get.yml
  backend/api/tag/tags/id/items/get.yml
  backend/api/tag/tags/id/put.yml
  backend/api/tag/tags/post.yml
Labels: documentation, backend, refactor

#124 完成遺失的 description 修正
  backend/item/route.py
  backend/item/util.py
  backend/models/__init__.py
  backend/tests/unit_tests/item/test_item.py
  backend/tests/unit_tests/models/test_model.py
  backend/tests/unit_tests/tag/test_tag.py
Labels: bug, backend

#125 完成「所有物品列表」頁面
  html/item_list.html
  src/jsx/item_list.jsx
  static/css/output.css
  static/js/item_list.js
Labels: frontend

#126 完成「描述物品詳細」頁面
  html/item_detail.html
  src/jsx/item_detail.jsx
  static/css/output.css
  static/js/item_detail.js
Labels: frontend

#127 修復無 tags 的物品在 /items 會產生 Key Error 的問題
  backend/item/route.py
  backend/tests/unit_tests/item/test_item.py
Labels: bug, backend

#129 物品列表 ─ 完成前端與後端的溝通
  src/jsx/item_detail.jsx
  src/jsx/item_list.jsx
  src/jsx/nevigation_bar.jsx
  static/css/output.css
  static/js/item_detail.js
  static/js/item_list.js
  static/js/nevigation_bar.js
Labels: enhancement, frontend

#141 在 item/route.py 中補上函式與 route 的回傳型別並重構複雜的邏輯
  backend/item/route.py
  backend/item/util.py
Labels: backend, refactor

#142 完成 user 的 API documentation
  backend/api/user/user/get.yml
Labels: documentation, backend

#143 更改 API documentation 的版本
  backend/config.py
Labels: documentation, backend

#145 完成 `/user` 的介面細部設計
  backend/app.py
  backend/tests/unit_tests/data.sql
  backend/tests/unit_tests/user/__init__.py
  backend/tests/unit_tests/user/test_user.py
  backend/user/__init__.py
  backend/user/route.py
Labels: enhancement, backend

#144 Move `logged_in_client` to `conftest.py`
  backend/tests/integration_tests/test_item.py
  backend/tests/unit_tests/conftest.py
  backend/tests/unit_tests/item/test_item.py
  backend/tests/unit_tests/static/test_static.py
  backend/tests/unit_tests/tag/test_tag.py
Labels: backend, test, refactor

#146 完成 user 接口的設置以及重構當前程式碼相關細節
  backend/api/user/user/get.yml
  backend/app.py
  backend/config.py
  backend/item/route.py
  backend/item/util.py
  backend/tests/integration_tests/test_item.py
  backend/tests/unit_tests/conftest.py
  backend/tests/unit_tests/data.sql
  backend/tests/unit_tests/item/test_item.py
  backend/tests/unit_tests/static/test_static.py
  backend/tests/unit_tests/tag/test_tag.py
  backend/tests/unit_tests/user/__init__.py
  backend/tests/unit_tests/user/test_user.py
  backend/user/__init__.py
  backend/user/route.py
Labels: enhancement, backend

#149 將 `user` 介面的裝飾子改成 `route_with_doc`，使其能夠呈現在 API 頁面上
  backend/user/route.py
Labels: bug, backend

#151 Fix the integrity error in integration tests
  backend/tests/integration_tests/conftest.py
Labels: bug, backend

#148 完成 `profile` 的 API Documentation
  backend/api/user/profile/get.yml
Labels: documentation, backend

#147 新增 `profile` 頁面介面
  backend/auth/util.py
  backend/tests/unit_tests/user/test_user.py
  backend/user/route.py
  html/user_profile.html
Labels: enhancement, backend

#150 完成 `profile` 的頁面佈局
  html/user_profile.html
  src/jsx/user_profile.jsx
  static/css/output.css
  static/image/boy.png
  static/js/user_profile.js
Labels: enhancement, frontend

#153 完成 profile 的頁面介面建置，以及完成 profile 頁面的 API documentation
  backend/api/user/profile/get.yml
  backend/auth/util.py
  backend/tests/integration_tests/conftest.py
  backend/tests/unit_tests/user/test_user.py
  backend/user/route.py
  html/user_profile.html
Labels: backend

#152 完成使用者頁面的互動部分
  src/jsx/nevigation_bar.jsx
  src/jsx/user_profile.jsx
  static/css/output.css
  static/image/girl.png
  static/js/nevigation_bar.js
  static/js/user_profile.js
Labels: enhancement, frontend

#155 完成 `profile` 頁面前端設計與整合
  html/user_profile.html
  src/jsx/nevigation_bar.jsx
  src/jsx/user_profile.jsx
  static/css/output.css
  static/image/boy.png
  static/image/girl.png
  static/js/nevigation_bar.js
  static/js/user_profile.js
Labels: enhancement, frontend

#154 完成 `shopping_cart` 的 API documentation
  backend/api/shopping_cart/shopping_cart/delete.yml
  backend/api/shopping_cart/shopping_cart/get.yml
  backend/api/shopping_cart/shopping_cart/item/post.yml
  backend/api/shopping_cart/shopping_cart/item/put.yml
  backend/app.py
  backend/shopping_cart/__init__.py
  backend/shopping_cart/route.py
Labels: documentation, backend
