Repository ntut-xuan/FastShop, pull requests merged in 2022-11, with the labels that each got.

#44 JWT cookie 實作
  backend/auth/exception.py
  backend/auth/route.py
  backend/auth/util.py
  backend/tests/test_auth.py
  backend/tests/test_auth_util.py
  requirements.txt
Labels: enhancement, backend

#52 [Snyk] Security upgrade setuptools from 39.0.1 to 65.5.1
  requirements.txt
Labels: security

#51 在獨立的 MariaDB container 中執行後端 API 的整合測試
  .github/workflows/backend-unit-test.yml
  backend/README.md
  backend/app.py
  backend/config.py
  backend/database/__init__.py
  backend/tests/integration_tests/__init__.py
  backend/tests/integration_tests/clean.sql
  backend/tests/integration_tests/conftest.py
  backend/tests/integration_tests/data.sql
  backend/tests/integration_tests/test_auth.py
  backend/tests/integration_tests/test_database.py
  backend/tests/unit_tests/__init__.py
  backend/tests/unit_tests/conftest.py
  backend/tests/unit_tests/data.sql
  backend/tests/unit_tests/test_auth.py
  backend/tests/unit_tests/test_auth_util.py
  backend/tests/unit_tests/test_database.py
  backend/tests/unit_tests/test_factory.py
  backend/tests/unit_tests/test_util.py
  docker-compose.yml
Labels: backend, test

#55 調整登入 API 的錯誤訊息
  backend/auth/route.py
  backend/response_message.py
  backend/tests/integration_tests/test_auth.py
  backend/tests/unit_tests/test_auth.py
  backend/tests/unit_tests/test_util.py
  backend/util.py
  requirements.txt
Labels: enhancement, backend

#54 以 Flask-SQLAlchemy 解決不同資料庫之 SQL 及模組的不兼容問題
  .github/workflows/type-check.yml
  backend/README.md
  backend/app.py
  backend/auth/util.py
  backend/config.py
  backend/database/__init__.py
  backend/database/util.py
  backend/models/__init__.py
  backend/mypy.ini
  backend/schema.test.sql
  backend/tests/__init__.py
  backend/tests/integration_tests/clean.sql
  backend/tests/integration_tests/conftest.py
  backend/tests/integration_tests/data.sql
  backend/tests/integration_tests/test_auth.py
  backend/tests/integration_tests/test_database.py
  backend/tests/unit_tests/conftest.py
  backend/tests/unit_tests/data.sql
  backend/tests/unit_tests/test_auth.py
  backend/tests/unit_tests/test_auth_util.py
  backend/tests/unit_tests/test_database.py
  backend/tests/unit_tests/test_factory.py
  backend/tests/util.py
  requirements.txt
Labels: backend, refactor

#47 完成 Authentication API 的設計
  .env
  .github/workflows/backend-unit-test.yml
  .github/workflows/type-check.yml
  .gitignore
  backend/.coveragerc
  backend/README.md
  backend/app.py
  backend/auth/__init__.py
  backend/auth/exception.py
  backend/auth/route.py
  backend/auth/util.py
  backend/config.py
  backend/database/__init__.py
  backend/database/util.py
  backend/models/__init__.py
  backend/mypy.ini
  backend/response_message.py
  backend/schema.sql
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/integration_tests/__init__.py
  backend/tests/integration_tests/conftest.py
  backend/tests/integration_tests/data.sql
  backend/tests/integration_tests/test_auth.py
  backend/tests/test_database.py
  backend/tests/test_static.py
  backend/tests/unit_tests/__init__.py
  backend/tests/unit_tests/conftest.py
  backend/tests/unit_tests/data.sql
  backend/tests/unit_tests/test_auth.py
  backend/tests/unit_tests/test_auth_util.py
  backend/tests/unit_tests/test_database.py
  backend/tests/unit_tests/test_factory.py
  backend/tests/unit_tests/test_util.py
  backend/tests/util.py
  backend/util.py
  codecov.yml
  docker-compose.yml
  html/register.html
  requirements.txt
Labels: enhancement, backend

#56 Ignore .env file
  .env
  .gitignore
Labels: security

#58 提供 jwt_verify 接口以用於驗證 jwt 並回傳 jwt payload
  backend/app.py
  backend/auth/route.py
  backend/auth/util.py
  backend/response_message.py
  backend/tests/integration_tests/test_auth.py
  backend/tests/unit_tests/test_auth.py
  backend/tests/unit_tests/test_auth_util.py
Labels: enhancement, backend

#62 Fix data not store in the database
  backend/auth/util.py
  backend/tests/unit_tests/test_auth.py
Labels: bug, backend

#61 讓整合測試使用單元測試的部分測試案例
  backend/tests/integration_tests/test_auth.py
Labels: backend, refactor

#64 完成會員註冊／登入頁面與前端的界接
  html/index.html
  html/login.html
  html/register.html
  src/jsx/error_code.jsx
  src/jsx/login.jsx
  src/jsx/nevigation_bar.jsx
  src/jsx/register.jsx
  static/css/output.css
  static/js/error_code.js
  static/js/login.js
  static/js/nevigation_bar.js
  static/js/register.js
Labels: enhancement, frontend

#66 完成登出接口的實作
  backend/auth/route.py
  backend/tests/unit_tests/test_auth.py
Labels: enhancement, backend

#68 將只檢查信箱密碼是否正確的 `login` 的 util 函式改為 bool 查詢函式
  backend/auth/exception.py
  backend/auth/route.py
  backend/auth/util.py
  backend/tests/unit_tests/test_auth_util.py
Labels: backend, refactor

#70 Add integration tests of logout route
  backend/tests/integration_tests/test_auth.py
  backend/tests/unit_tests/test_auth.py
Labels: backend, test

#71 Fix typo in some backend files
  backend/auth/route.py
  backend/auth/util.py
  backend/tests/unit_tests/test_auth_util.py
Labels: backend

#67 完成 logout API 的設計
  backend/auth/exception.py
  backend/auth/route.py
  backend/auth/util.py
  backend/tests/integration_tests/test_auth.py
  backend/tests/unit_tests/test_auth.py
  backend/tests/unit_tests/test_auth_util.py
Labels: enhancement, backend
