Repository ntut-xuan/FastShop, pull requests merged in 2023-01, with the labels that each got.

#157 Format code and refactor syntax
  backend/tests/unit_tests/auth/test_auth.py
  backend/tests/unit_tests/auth/test_util.py
  backend/tests/unit_tests/item/test_item.py
  backend/tests/unit_tests/static/test_util.py
  backend/tests/unit_tests/tag/test_tag.py
  backend/tests/unit_tests/test_util.py
Labels: backend, test, refactor

#158 Add type hints to decorators
  backend/auth/util.py
Labels: backend, refactor

#156 完成 `order` 的 API documentation
  backend/api/order/orders/get.yml
  backend/api/order/orders/id/delete.yml
  backend/api/order/orders/id/get.yml
  backend/api/order/orders/post.yml
  backend/app.py
  backend/order/__init__.py
  backend/order/route.py
Labels: documentation, backend

#160 Format code with less line spans
  backend/models/__init__.py
Labels: backend, refactor

#159 Create models of shopping_cart, order and item_of_order
  backend/models/__init__.py
  backend/tests/integration_tests/test_model.py
  backend/tests/unit_tests/models/test_model.py
Labels: enhancement, backend

#166 Update apidoc of `POST /orders` on absent order
  backend/api/order/orders/post.yml
Labels: documentation, backend

#165 調整檔案架構
  backend/app.py
  backend/src/__init__.py
  backend/src/auth/__init__.py
  backend/src/auth/exception.py
  backend/src/auth/route.py
  backend/src/auth/util.py
  backend/src/database/__init__.py
  backend/src/item/__init__.py
  backend/src/item/route.py
  backend/src/item/util.py
  backend/src/models/__init__.py
  backend/src/order/__init__.py
  backend/src/order/route.py
  backend/src/shopping_cart/__init__.py
  backend/src/shopping_cart/route.py
  backend/src/static/__init__.py
  backend/src/static/exception.py
  backend/src/static/route.py
  backend/src/static/util.py
  backend/src/tag/__init__.py
  backend/src/tag/route.py
  backend/src/user/__init__.py
  backend/src/user/route.py
  backend/tests/integration_tests/conftest.py
  backend/tests/unit_tests/auth/test_auth.py
  backend/tests/unit_tests/auth/test_util.py
  backend/tests/unit_tests/conftest.py
  backend/tests/unit_tests/item/test_item.py
  backend/tests/unit_tests/models/test_model.py
  backend/tests/unit_tests/static/test_static.py
  backend/tests/unit_tests/static/test_util.py
  backend/tests/unit_tests/tag/test_tag.py
Labels: enhancement, backend

#167 Upgrade mypy & fix type issue
  backend/util.py
  requirements.txt
Labels: bug, enhancement, backend

#168 完成 `route_with_doc` 的修復
  backend/config.py
  backend/tests/unit_tests/test_util.py
  backend/util.py
Labels: bug, backend

#169 完成 ShoppingCart 的介面設計
  backend/src/shopping_cart/route.py
  backend/src/shopping_cart/util.py
  backend/src/shopping_cart/validator.py
  backend/tests/integration_tests/test_shopping_cart.py
  backend/tests/unit_tests/shopping_cart/__init__.py
  backend/tests/unit_tests/shopping_cart/test_shopping_cart.py
  backend/tests/unit_tests/shopping_cart/test_util.py
Labels: enhancement, backend

#172 完成 orders 的介面細部設計
  backend/src/order/route.py
  backend/src/order/util.py
  backend/tests/integration_tests/test_order.py
  backend/tests/unit_tests/order/__init__.py
  backend/tests/unit_tests/order/test_order.py
  backend/tests/unit_tests/order/test_util.py
Labels: enhancement, backend

#173 完成 shopping_cart 和 orders 的 API 設計
  backend/api/order/orders/get.yml
  backend/api/order/orders/id/delete.yml
  backend/api/order/orders/id/get.yml
  backend/api/order/orders/post.yml
  backend/api/shopping_cart/shopping_cart/delete.yml
  backend/api/shopping_cart/shopping_cart/get.yml
  backend/api/shopping_cart/shopping_cart/item/post.yml
  backend/api/shopping_cart/shopping_cart/item/put.yml
  backend/app.py
  backend/config.py
  backend/models/__init__.py
  backend/src/__init__.py
  backend/src/auth/__init__.py
  backend/src/auth/exception.py
  backend/src/auth/route.py
  backend/src/auth/util.py
  backend/src/database/__init__.py
  backend/src/item/__init__.py
  backend/src/item/route.py
  backend/src/item/util.py
  backend/src/models/__init__.py
  backend/src/order/__init__.py
  backend/src/order/route.py
  backend/src/order/util.py
  backend/src/shopping_cart/__init__.py
  backend/src/shopping_cart/route.py
  backend/src/shopping_cart/util.py
  backend/src/shopping_cart/validator.py
  backend/src/static/__init__.py
  backend/src/static/exception.py
  backend/src/static/route.py
  backend/src/static/util.py
  backend/src/tag/__init__.py
  backend/src/tag/route.py
  backend/src/user/__init__.py
  backend/src/user/route.py
  backend/tests/integration_tests/conftest.py
  backend/tests/integration_tests/test_model.py
  backend/tests/integration_tests/test_order.py
  backend/tests/integration_tests/test_shopping_cart.py
  backend/tests/unit_tests/auth/test_auth.py
  backend/tests/unit_tests/auth/test_util.py
  backend/tests/unit_tests/conftest.py
  backend/tests/unit_tests/item/test_item.py
  backend/tests/unit_tests/models/test_model.py
  backend/tests/unit_tests/order/__init__.py
  backend/tests/unit_tests/order/test_order.py
  backend/tests/unit_tests/order/test_util.py
  backend/tests/unit_tests/shopping_cart/__init__.py
  backend/tests/unit_tests/shopping_cart/test_shopping_cart.py
  backend/tests/unit_tests/shopping_cart/test_util.py
  backend/tests/unit_tests/static/test_static.py
  backend/tests/unit_tests/static/test_util.py
  backend/tests/unit_tests/tag/test_tag.py
  backend/tests/unit_tests/test_util.py
  backend/util.py
  requirements.txt
Labels: documentation, enhancement, backend

#178 Update copyright years
  LICENSE
Labels: documentation
